<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Bem vindo</h2>

    <div> 
        <a = href="/reg">  registrar </a>
    </div>
        
    <div>
            <a = href="/ln">  login </a>
    </div>


</body>
</html>